<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ 'recommendations.css' | asset_url }}">

</head>

<body>
  {% assign config_data_json = {{ config_data_json | json }} %}
  {% assign json_output = {{ json_output | json }} %}
  <!-- Button to open the slider -->
  <button id="open-slider-btn">{{ config_data_json.buttonText }}</button>

  <!-- Slider Container -->
  <div id="product-slider">
    <button id="close-btn">X</button>
    <!-- Slider items will be dynamically added here -->
  </div>

  <script src="{{ 'recommendations.js' | asset_url }}" defer='defer'></script>

</body> 
</html>


